.txt-c.mtxxl{ style: "color: magenta;"}
  NOTE: This screen will auto-advance after the user taps 'Done' on their phone.
  %br
  = link_to "Next Prototype Page", the_link, style: "color: magenta; text-decoration: underline;"