.txt-c.mtxxl{ style: "color: magenta;"}
  - if show_note
    NOTE: This screen will auto-advance.
    %br
  = link_to "Next Prototype Page", the_link, style: "color: magenta; text-decoration: underline;"